@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/*FONTS*/
@font-face {
  font-family: 'Geist';
  src: url(@public/assets/fonts/Geist[wght].ttf);
}

@font-face {
  font-family: 'GeistMono';
  src: url(@public/assets/fonts/GeistMono[wght].ttf);
}

body {
  background-color: #101010;
  font-family: 'Geist', sans-serif;
  overflow-x: hidden;
}